@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "futura";
  src: url("./assets/fonts/futura/futur.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

body {
  color: #3e3e3e;
}

/* style for section title */

.section-heading::after {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 0;
  width: 30%; /* Adjust the width of the border */
  height: 3px; /* Adjust the height of the border */
  background-color: #83b828; /* Adjust the color of the border */
}
/* style for price range selector */
.price_range [data-orientation="horizontal"] .bg-primary {
  background: #83b828;
}
.price_range [role="slider"] {
  border: 2px solid #83b828;
}
.price_range [style="transform: var(--radix-slider-thumb-transform)"]:focus {
  outline: 0;
}
/* a {
  font-weight: 500 !important;
  display: inline-block;
} */
.text-bordered {
  /* Adjust the size as needed */
  font-weight: bold;
  color: transparent;
  -webkit-text-stroke-width: 3px;
  -webkit-text-stroke-color: #ffffff; /* Border color */
  background: #83b828; /* Gradient color */
  -webkit-background-clip: text;
  background-clip: text;
}

.readonly_rating {
  color: #83b828 !important;
}

.banner-1 {
  background-image: url(./assets/images/banner-1.jpg);
}

.banner-2 {
  background-image: url(./assets/images/banner-2.jpg);
}
.banner-3 {
  background-image: url(./assets/images/banner-3.jpg);
}

/* cart modal */

.cart_modal[role="dialog"] {
  min-width: 550px;
  padding: 20px;
}

.cart_modal[type="button"] svg {
  width: 60px !important;
  height: 60px !important;
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

/* media query */

@media (max-width: 550px) {
  .cart_modal[role="dialog"] {
    min-width: 100%;
    padding: 15px;
  }
}
